.card {
  border: 2px solid black;
  border-radius: 8px;

  width: 100px;
  padding: 12px 16px;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 24px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
